<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="todo">
    <meta name="author" content="falconpilot">

    <title>Elixir WebCCG</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <!-- HEADER -->
    <header class="flex-wrapper">
      <h1 class="flex-wrapper flex-left">Elixir WebCCG</h1>
      <!-- Logged in buttons -->
      <%= if user = get_user(@conn) do %>
        <%= if obtained_card?(user) do %>
          <button disabled="true" class="standard-btn important">Carte obtenue</button>
        <% else %>
          <%= link("Obtenir une carte", to: "/obtain?userid=#{user.id}", class: "standard-btn important") %>
        <% end %>
        <%= link("Profil", to: "/users/#{user.id}", class: "standard-btn") %>
        <%= link("Déconnexion", to: "/logout", class: "standard-btn") %>
      <!-- Logged out buttons -->
      <% else %>
        <!-- Login form -->
        <%= form_for @loginset, "/login?redirect=#{@conn.request_path}", [class: "flex-wrapper"], fn f -> %>
          <div class="flex-wrapper flex-col">
            <label>Pseudo</label>
            <%= text_input f, :username, class: "standard-input" %>
          </div>
          <div class="flex-wrapper flex-col">
            <label>Mot de passe</label>
            <%= password_input f, :password, class: "standard-input" %>
          </div>
          <%= submit "➤", class: "standard-btn hidden", title: "Connexion" %>
        <% end %>
        <!-- Register -->
        <%= link("Inscription", to: "/register", class: "standard-btn") %>
      <% end %>
      <!-- Common buttons -->
      <%= link("Cartes", to: "/cards", class: "standard-btn") %>
      <%= link("Membres", to: "/users", class: "standard-btn") %>
      <%= link("Accueil", to: "/", class: "standard-btn") %>
    </header>
    <%= if info = get_flash(@conn, :info) do %>
      <!-- FLASH INFOS -->
      <div class="flash-notice info">
          <%= info %>
      </div>
    <% end %>
    <%= if error = get_flash(@conn, :error) do %>
      <!-- FLASH ERRORS -->
      <div class="flash-notice error">
        <%= error %>
      </div>
    <% end %>
    <%= if card = get_flash(@conn, :card) do %>
      <!-- FLASH NEW CARDS -->
      <div class="flex-wrapper flex-col card-notice">
        <h1 class="page-title no-margin-top">Carte obtenue !</h1>
        <div class="flex-1 flex-wrapper flex-col">
          <button class="standard-btn" id="newcard-close">Fermer</button>
          <%= render CommonView, "card_template.html", card: card, can_modify: false %>
        </div>
      </div>
    <% end %>
    <!-- MAIN CONTENT -->
    <main class="flex-1">
      <div class="main-wrapper absolute-fill flex-wrapper flex-top flex-col">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <!-- FOOTER -->
    <footer class="flex-wrapper flex-right">
      Powered by
      <img src="<%= static_path(@conn, "/images/phoenix.png") %>"/>
    </footer>
    <!-- SCRIPTS -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
