<%= if Enum.count(@userlist) > 0 do %>
  <%= for user <- @userlist do %>
    <div class="flex-wrapper flex-1 panel-wrapper">
      <%= img_tag(user.avatar) %>
      <div class="userlist-body">
        <%= link(user.username, to: "/users/#{user.id}") %>
      </div>
    </div>
  <% end %>
<% else %>
  <div>Aucun utilisateur</div>
<% end %>
