<div class="news-wrapper flex-wrapper flex-col flex-stretch medium-width">
  <h2 class="sub-title no-margin"><%= @news.title %></h2>
  <p><%= @news.contents %></p>
  <%= if @can_delete do %>
    <%= form_for @conn, "/admin/news/delete", [as: "delete-news", method: "delete", class: "flex-wrapper flex-right"], fn f -> %>
      <%= hidden_input f, :id, value: @news.id %>
      <%= submit(img_tag("/images/gui/delete-btn.png"), class: "img-btn") %>
    <% end %>
  <% end %>
</div>
