<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="todo">
    <meta name="author" content="falconpilot">

    <title>Elixir WebCCG</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <!-- HEADER -->
    <header>
      <h1 class="flex-wrapper flex-start">Elixir WebCCG</h1>
      <%= form_for @loginset, "/login", [class: "flex-wrapper"], fn f -> %>
        <div class="flex-wrapper flex-col">
          <label>Pseudo</label>
          <%= text_input f, :username, class: "standard-input" %>
        </div>
        <div class="flex-wrapper flex-col">
          <label>Mot de passe</label>
          <%= password_input f, :password, class: "standard-input" %>
        </div>
      <% end %>
    </header>
    <!-- MAIN CONTENT -->
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- FOOTER -->
    <footer></footer>
    <!-- SCRIPTS -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
