<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="todo">
    <meta name="author" content="falconpilot">

    <title>Elixir WebCCG</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <!-- HEADER -->
    <header>
      <h1 class="flex-wrapper flex-start">Elixir WebCCG</h1>
      <%= if @current_user do %>
        <%= link("Profil", to: "/users/#{@current_user.id}", class: "standard-btn") %>
        <%= link("Déconnexion", to: "/logout", class: "standard-btn") %>
      <% else %>
        <%= form_for @loginset, "/login", [class: "flex-wrapper"], fn f -> %>
          <div class="flex-wrapper flex-col">
            <label>Pseudo</label>
            <%= text_input f, :username, class: "standard-input" %>
          </div>
          <div class="flex-wrapper flex-col">
            <label>Mot de passe</label>
            <%= password_input f, :password, class: "standard-input" %>
          </div>
          <%= submit "Connexion", class: "hidden" %>
        <% end %>
          <a href="/register" class="standard-btn">Inscription</a>
      <% end %>
    </header>
    <!-- FLASH INFOS -->
    <%= if info = get_flash(@conn, :info) do %>
      <div class="flash-notice info">
          <%= info %>
      </div>
    <% end %>
    <!-- FLASH ERRORS -->
    <%= if error = get_flash(@conn, :error) do %>
      <div class="flash-notice error">
        <%= error %>
      </div>
    <% end %>
    <!-- MAIN CONTENT -->
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- FOOTER -->
    <footer>Powered by <img src="<%= static_path(@conn, "/images/phoenix.png") %>"</footer>
    <!-- SCRIPTS -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
