/*
**  CSS Variables
*/

:root {
  --main-color: #E2A12F;
  --main-dark: #B78122;
}

/*
**  Default classes
*/

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

header, main, footer {
  width: 100%;
  display: flex;
}

form > div {
  margin: 10px;
}

/*
**  Header
*/

header {
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--main-color);
}

header > h1 {
  margin: 0;
  flex: 1;
  color: #333;
  text-shadow:
    1px 1px #FFF,
    1px -1px #FFF,
    -1px 1px #FFF,
    -1px -1px #FFF;
}

/*
**  Main content
*/

main {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
**  Flex structural classes
*/

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrapper.flex-col { flex-direction: column; }

.flex-wrapper.flex-col.flex-start { align-items: flex-start; }

.flex-wrapper.flex-start:not(.flex-col) { justify-content: flex-start; }

.flex-wrapper.flex-stretch { align-items: stretch; }

/*
**  Standard classes
*/

.medium-width {
  width: 60%;
}

.standard-input {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #333;
}

.standard-btn {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  background-color: var(--main-dark);
  border: 1px solid #333;
  border-radius: 4px;
  transition: 0.2s;
}

.standard-btn:hover {
  text-shadow: 0px 0px 2px #FFF;
  box-shadow: 0px 0px 2px #FFF, 0px 0px 2px #FFF inset;
}
