<div class="flex-wrapper flex-col flex-top flex-1 flex-stretch panel-wrapper">
  <h1 class="page-title no-margin-top">Panneau d'administration</h1>
  <div class="flex-wrapper flex-col">
    <%= link("Gestion des news", to: "/admin/news", class: "standard-btn") %>
  </div>
</div>
