<div class="flex-wrapper flex-col flex-top flex-stretch flex-1 panel-wrapper">
  <h1 class="page-title no-margin"><%= @pagecard.name %></h1>
  <div class="flex-wrapper flex-1">
    <!-- Card display -->
    <%= render CommonView, "card_template.html", conn: @conn, card: @pagecard, can_modify: false %>
  </div>
</div>
